In [1]:
import os
from dotenv import load_dotenv
load_dotenv()

HOST = os.getenv('HOST')
USER = os.getenv('USERDB')
PASS = os.getenv('PASSDB_LOCAL')
DB = os.getenv('DATABASE')

In [15]:
1496125+2194448

3690573

In [14]:
import pandas as pd
ruta = '/home/dmateons/Documents/mateo/python/Parallel_Concurrent/data/CSV'
files_list = os.listdir(ruta)
file_list = [f"{ruta}/{filename}" for filename in files_list if filename.endswith('.csv')]
df = pd.read_csv(file_list[1], engine='pyarrow')
df = df.drop(['VELOCIDAD', 'ID'], axis=1)
print(file_list[1], df.info(), df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2194448 entries, 0 to 2194447
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   DATE_TIME  datetime64[ns]
 1   LATITUDE   float64
 2   LONGITUDE  float64
 3   ADDRESS    object
 4   SPEED      float64
 5   MILEAGE    float64
 6   IGNICION   float64
 7   PLACA      object
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 133.9+ MB
/home/dmateons/Documents/mateo/python/Parallel_Concurrent/data/CSV/MARZO 2022.csv None (2194448, 8)

In [18]:
%%time
for file in file_list:
    df = pd.read_csv(file, engine='pyarrow')
    print(df.columns)

Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'VELOCIDAD', 'IGNICION', 'PLACA'],
      dtype='object')
Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'VELOCIDAD', 'IGNICION', 'PLACA'],
      dtype='object')
Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'CURSO', 'IGNICION', 'ALTITUD', 'PLACA', 'VELOCIDAD'],
      dtype='object')
Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'VELOCIDAD', 'IGNICION', 'CURSO', 'BATERIA_VEHICULO',
       'ENG_EFF_ON_FUELCONSMATH', 'ALTITUD', 'PLACA'],
      dtype='object')
Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'VELOCIDAD', 'IGNICION', 'CURSO', 'PLACA'],
      dtype='object')
Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'VELOCIDAD', 'IGNICION', 'CURSO', 'ENG_EFF_ON_FUELCONSMATH',
       'ALTITUD', 'PLACA'],
      dtype='object')
Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'VELOCIDAD', 'IGNICION', 'CURSO', 'ALTITUD', 'PLACA'],
      dtype='object')
Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'VELOCIDAD', 'IGNICION', 'PLACA'],
      dtype='object')
Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'IGNICION', 'PLACA', 'VELOCIDAD', 'CURSO', 'BATERIA_VEHICULO',
       'ENG_EFF_ON_FUELCONSMATH', 'ALTITUD'],
      dtype='object')
Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'VELOCIDAD', 'IGNICION', 'CURSO', 'BATERIA_VEHICULO', 'ALTITUD',
       'PLACA'],
      dtype='object')
Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'VELOCIDAD', 'IGNICION', 'CURSO', 'ALTITUD', 'PLACA'],
      dtype='object')
Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'IGNICION', 'PLACA', 'VELOCIDAD', 'CURSO', 'ALTITUD'],
      dtype='object')
Index(['DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'VELOCIDAD', 'IGNICION', 'CURSO', 'BATERIA_VEHICULO', 'ALTITUD',
       'PLACA'],
      dtype='object')
CPU times: user 15.5 s, sys: 3.29 s, total: 18.7 s
Wall time: 4.11 s

In [37]:
df = pd.read_csv(file_list[10], engine='pyarrow')
print(file_list[10], df.info(), df.shape)
df.ALTITUD.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1429628 entries, 0 to 1429627
Data columns (total 12 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   DATE_TIME  1429628 non-null  datetime64[ns]
 1   LATITUDE   1426893 non-null  float64
 2   LONGITUDE  1426893 non-null  float64
 3   ADDRESS    1429628 non-null  object
 4   SPEED      1426754 non-null  float64
 5   MILEAGE    1045215 non-null  float64
 6   ID         1429628 non-null  int64
 7   VELOCIDAD  1241533 non-null  float64
 8   IGNICION   1152517 non-null  float64
 9   CURSO      1147647 non-null  float64
 10  ALTITUD    1147647 non-null  float64
 11  PLACA      1429628 non-null  object
dtypes: datetime64[ns](1), float64(8), int64(1), object(2)
memory usage: 130.9+ MB
/home/dmateons/Documents/mateo/python/Parallel_Concurrent/data/CSV/AGOSTO 2021.csv None (1429628, 12)

count    1.147647e+06
mean     1.906382e+03
std      2.926075e+03
min     -1.097500e+03
25%      2.621000e+02
50%      2.122600e+03
75%      2.577900e+03
max      4.002400e+04
Name: ALTITUD, dtype: float64

In [3]:
import pyodbc
pyodbc.drivers()

['ODBC Driver 18 for SQL Server',
 'ODBC Driver 17 for SQL Server',
 'MySQL ODBC 8.0 Driver']

In [4]:
constring = f"mysql://{USER}:{PASS}@{HOST}/{DB}"
constring

'mysql://root:JB5LEd6r9Pu4ZWa9YC3sSVc@35.239.212.126:3306/rastreosatelital'

In [5]:
import sqlalchemy

In [6]:
dbEngine = sqlalchemy.create_engine(constring, connect_args={'connect_timeout': 10}, echo=False)

In [7]:
from sqlalchemy.orm import scoped_session, sessionmaker
from sqlalchemy.ext.declarative import declarative_base
session = scoped_session(sessionmaker(bind=dbEngine))
Base = declarative_base()
Base.query = session.query_property()

In [8]:
try:
    with dbEngine.connect() as con:
        con.execute("SELECT 1")
    print('engine is valid')
except Exception as e:
    print(f'Engine invalid: {str(e)}')

engine is valid

In [9]:
with dbEngine.connect().execution_options(autocommit=True) as conn:
        df.to_sql('rastreo_satelital_2', con=conn, if_exists='append', index= False)