In [2]:
%%time
import pandas as pd
from dotenv import load_dotenv
import os
load_dotenv()  # take environment variables from .env.

HOSTDB= os.getenv('HOST')
USERDB = os.getenv('USERDB')
PASSDB = os.getenv('PASSDB')
DB = os.getenv('DATABASE')

print(f"mysql://{USERDB}:{PASSDB}@{HOSTDB}/{DB}")

mysql://root:1+PpMd|Q6+zl?7@35.239.212.126:3306/rastreosatelital
CPU times: user 485 ms, sys: 609 ms, total: 1.09 s
Wall time: 448 ms

In [15]:
%%time
import pandas as pd
ruta = '/home/dmateons/Documents/mateo/python/xlsx_csv_to_sql/data/CSV'
files_list = os.listdir(ruta)
file_list = [f"{ruta}/{filename}" for filename in files_list if filename.endswith('.csv')]
df_mp = pd.DataFrame()
for file in file_list:
    df = pd.read_csv(file)
    df = df.drop(['VELOCIDAD'], axis=1)
    df_mp = pd.concat([df,df_mp])
    
df_mp.shape

<timed exec>:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
<timed exec>:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
<timed exec>:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 41.2 s, sys: 15.7 s, total: 56.9 s
Wall time: 58.7 s

(18483441, 13)

In [19]:
df_mp.DATE_TIME = pd.to_datetime(df_mp.DATE_TIME)

In [20]:
df_mp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18483441 entries, 0 to 1496124
Data columns (total 13 columns):
 #   Column                   Dtype
---  ------                   -----
 0   DATE_TIME                datetime64[ns]
 1   LATITUDE                 float64
 2   LONGITUDE                float64
 3   ADDRESS                  object
 4   SPEED                    float64
 5   MILEAGE                  float64
 6   ID                       object
 7   IGNICION                 float64
 8   CURSO                    float64
 9   BATERIA_VEHICULO         float64
 10  ALTITUD                  float64
 11  PLACA                    object
 12  ENG_EFF_ON_FUELCONSMATH  float64
dtypes: datetime64[ns](1), float64(9), object(3)
memory usage: 1.9+ GB

In [21]:
df_mp["YEAR"] = df_mp.DATE_TIME.dt.year
df_mp["MONTH"] = df_mp.DATE_TIME.dt.month
df_mp["DAY"] = df_mp.DATE_TIME.dt.day_of_week
df_mp["HOUR"] = df_mp.DATE_TIME.dt.hour

In [22]:
df_mp.to_csv('df_rastreo_satelital.csv')

In [1]:
%%time
import pandas as pd
df_read = pd.read_csv('df_rastreo_satelital.csv', engine='pyarrow')

CPU times: user 19.8 s, sys: 9.49 s, total: 29.3 s
Wall time: 5.32 s

In [2]:
df_read.shape

(18483441, 18)

In [3]:
df_read.columns

Index(['', 'DATE_TIME', 'LATITUDE', 'LONGITUDE', 'ADDRESS', 'SPEED', 'MILEAGE',
       'ID', 'IGNICION', 'CURSO', 'BATERIA_VEHICULO', 'ALTITUD', 'PLACA',
       'ENG_EFF_ON_FUELCONSMATH', 'YEAR', 'MONTH', 'DAY', 'HOUR'],
      dtype='object')

In [ ]:
%%time
import connectorx as cx
df = cx.read_sql(f"mysql://{USERDB}:{PASSDB}@{HOSTDB}/{DB}", query= query_str, return_type="pandas", partition_on='ID', partition_num=4)
df.info()

In [3]:
query_str = '''
SELECT * FROM rastreo_satelital_v2
'''

In [4]:
%%time
df = pd.read_sql(con=f"mysql://{USERDB}:{PASSDB}@{HOSTDB}/{DB}", sql= query_str, chunksize=1000)
df.info()

AttributeError: 'generator' object has no attribute 'info'

In [4]:
import re
import numpy as np
patron_motos = re.compile('^[a-zA-Z]{3}[0-9]{2}[a-zA-Z]{1}$|[a-zA-Z]{3}[0-9]{2}$')
patron_carros = re.compile('[a-zA-Z]{3}[0-9]{3}$')

def set_type_vehicule(placa):
    if patron_carros.match(placa):
        return "CAR"
    elif patron_motos.match(placa):
        return "MOTORCYCLE"
    
    
print(df_read.PLACA.apply(set_type_vehicule).value_counts())

df_read["TYPE_VEHICULE"] = df_read.PLACA.apply(set_type_vehicule)

CAR           17909104
MOTORCYCLE      574337
Name: PLACA, dtype: int64

In [9]:
df_read["MONTH"] = df_read.DATE_TIME.dt.month

In [10]:
df_read.groupby(["MONTH","TYPE_VEHICULE","PLACA"])["SPEED"].max().reset_index()

      MONTH TYPE_VEHICULE   PLACA  SPEED
0         1           CAR  BOP256   67.0
1         1           CAR  CAT320    4.0
2         1           CAR  CJJ699   99.0
3         1           CAR  DBO297  116.0
4         1           CAR  DVK063   94.0
...     ...           ...     ...    ...
1742     12           CAR  wfv161   98.0
1743     12    MOTORCYCLE  GBV37E  132.0
1744     12    MOTORCYCLE  PPF86F   69.0
1745     12    MOTORCYCLE  QOD04D   87.0
1746     12    MOTORCYCLE  ZGM03E   67.0

[1747 rows x 4 columns]

In [5]:
table_top_speed = df_read.groupby(["MONTH","TYPE_VEHICULE","PLACA"])["SPEED"].max().reset_index()

In [6]:
import datetime
table_top_speed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1747 entries, 0 to 1746
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MONTH          1747 non-null   int64
 1   TYPE_VEHICULE  1747 non-null   object
 2   PLACA          1747 non-null   object
 3   SPEED          1745 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 54.7+ KB

In [7]:
import calendar
table_top_speed['MONTH'] = table_top_speed['MONTH'].apply(lambda x: calendar.month_abbr[x])

In [8]:
table_top_speed.to_csv("table_top_speed.csv")

In [ ]:
df.groupby(["TYPE_VEHICULE","PLACA"])["SPEED"].max().reset_index()
vehicles = df.groupby(["TYPE_VEHICULE","PLACA"])["SPEED"].max().reset_index()
vehicles.to_csv("vehicles.csv")

In [ ]:
## DF que se usa en la grafica
df = pd.read_csv(ruta, engine='pyarrow')
df["YEAR"] = df.DATE_TIME.dt.year
df["MONTH"] = df.DATE_TIME.dt.month
df["DAY"] = df.DATE_TIME.dt.day_of_week
df["HOUR"] = df.DATE_TIME.dt.hour

In [ ]:
df.to_csv('df_test.csv')

In [ ]:
########## concatenar csv

In [4]:

df_data = pd.read_csv('df_rastreo_satelital.csv', nrows=70) 
df_data.DATE_TIME
df_data.HOUR = 1

In [13]:
import time
from multiprocessing import Pool
import pandas as pd

df_data = pd.read_csv('df_rastreo_satelital.csv', nrows=70) 
df = pd.DataFrame()

def df_tomodel(hora):
    df['length'] = df_data.DATE_TIME
    df["DAY"] = 1
    df["HOUR"] = hora
    return df

In [15]:
np.arange(1, 4, 1)

array([1, 2, 3])

In [16]:
%%time
from multiprocessing import Pool
import numpy as np
horas = np.arange(1, 4, 1)
pool = Pool(processes=8)
df_list = pool.map(df_tomodel, horas)
df_mp = pd.DataFrame()
for df in df_list:
    df_mp = pd.concat([df,df_mp])

CPU times: user 19.6 ms, sys: 34.7 ms, total: 54.3 ms
Wall time: 60.5 ms

In [26]:
import concurrent.futures

with concurrent.futures.ThreadPoolExecutor(max_workers=1) as executor:
    futures = {executor.submit(calculate_model, l) for l in localidades}
    concurrent.futures.wait(futures)

mejor xd
mejor xd
mejor xd

In [39]:
import statsmodels.api as sm
import joblib

In [40]:
model = joblib.load('model.pkl')

In [ ]:
model.predict()

In [36]:
nodes = [331586541, 331585832, 331585384, 2099187366, 2099187385, 2099193734, 262178034, 1851469499, 325089228, 325089391, 325088888, 325088798, 611325810, 325089306, 325088596, 311255591, 311255598, 310979074, 310982449, 310981508, 310981605, 1043162937, 331592446, 427497436, 1043162951, 427497427, 427497426, 260480672, 260480645, 321551342, 610285638, 321551341, 610285646, 321551080, 321551051, 321551036, 321551038, 321551084, 815205006, 325093318, 261993797, 9215097609, 9215097615, 9215097614, 6498005320, 6498005232, 317215746, 6637941048, 6637941037, 1038706527, 261994878, 5228614837, 6637941056, 6637941057, 5228614836, 317213285, 317213198, 317206837, 317206912, 1038720464, 317204898, 317206226, 317204899, 317203063, 316162256, 317200637, 317200966, 316162257, 260697788, 5421597190, 2422242492, 260697728, 316162250, 317204767, 317204769]

In [ ]:
def length()